{% extends 'base.html' %}
{% block title %}create{% endblock %}
{% block content %}
    <p></p>
    <form action="{% url 'loginVerify' %}" method="post">
        {% csrf_token %}
        {% if error %}
            <div style="color:red">{{ error }}</div>
            <br/>
        {% endif %}
        用户:<input type="text" name="username" placeholder="输入用户名" value="{{ username }}"/>
        <br/><br/>
        密码:<input type="text" name="password" placeholder="输入密码" value="{{ password }}"/>
        <br/><br/>
        <input type="submit" value="提交"/>
    </form>
    <a href="{% url 'regist' %}">注册账号</a>
{% endblock %}